@mixin not-last-child($selector)
  & #{$selector}:not(:last-child)
    @content

.game_list
  @include not-last-child('div')
    margin-bottom: 10px

.game
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)


.result
  background: LightGreen

.container
  padding: 2px 16px
